/5 Five prac/JavaApplication3/nbproject/private/
/5 Five prac/JavaApplication3/build/
/swing prac/MovieTicketBooking/nbproject/private/
/swing prac/MovieTicketBooking/build/
/swing prac/MovieTicketBooking/dist/