/5 Five prac/JavaApplication3/nbproject/private/
/5 Five prac/JavaApplication3/build/
/swing prac/MovieTicketBooking/nbproject/private/
/swing prac/MovieTicketBooking/build/
/swing prac/MovieTicketBooking/dist/
/6 Six pracs/JavaFXApplication2/nbproject/private/
/6 Six pracs/JavaFXApplication2/dist/
/6 Six pracs/JavaFXApplication2/build/
/6 Six pracs/StudentFX/nbproject/private/
/6 Six pracs/StudentFX/build/
/6 Six pracs/StudentFX/dist/
/6 Six pracs/JavaFXApplication5/nbproject/private/
/7 Seventh pracs/MathFX/nbproject/private/
/7 Seventh pracs/MathFX/dist/
/7 Seventh pracs/MathFX/build/
/8 Eight pracs/Deck/nbproject/private/
/8 Eight pracs/Deck/build/